<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lin.csln.mapper.OrderItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lin.csln.entity.OrderItemDO">
        <id column="id" property="id"/>
        <result column="master_id" property="masterId"/>
        <result column="sub_id" property="subId"/>
        <result column="sku_id" property="skuId"/>
        <result column="sku_spec_snapshot" property="skuSpecSnapshot"/>
        <result column="qty" property="qty"/>
        <result column="price" property="price"/>
        <result column="amount" property="amount"/>
        <result column="actual_qty" property="actualQty"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, master_id, sub_id, sku_id, sku_spec_snapshot, qty, price, amount, actual_qty
    </sql>

    <select id="selectDetailListByMasterId" resultType="com.lin.csln.dto.order.OrderItemDetailRespDTO">
        SELECT
            oi.id,
            oi.sub_id AS subId,
            ps.product_v2_id AS productId,
            oi.sku_id AS skuId,
            oi.sku_spec_snapshot AS skuSpecSnapshot,
            p.product_no AS productNo,
            p.name AS productName,
            ps.color_name AS colorName,
            ps.size_name AS sizeName,
            oi.qty,
            oi.price,
            oi.amount
        FROM order_item oi
                 LEFT JOIN product_sku ps ON oi.sku_id = ps.id
                 LEFT JOIN product_v2 p ON ps.product_v2_id = p.id
        WHERE oi.master_id = #{masterId}
        ORDER BY oi.sub_id ASC, oi.id ASC
    </select>

    <select id="selectDetailListBySubId" resultType="com.lin.csln.dto.order.OrderItemDetailRespDTO">
        SELECT
            oi.id,
            oi.sub_id AS subId,
            ps.product_v2_id AS productId,
            oi.sku_id AS skuId,
            oi.sku_spec_snapshot AS skuSpecSnapshot,
            p.product_no AS productNo,
            p.name AS productName,
            ps.color_name AS colorName,
            ps.size_name AS sizeName,
            oi.qty,
            oi.price,
            oi.amount
        FROM order_item oi
                 LEFT JOIN product_sku ps ON oi.sku_id = ps.id
                 LEFT JOIN product_v2 p ON ps.product_v2_id = p.id
        WHERE oi.sub_id = #{subId}
        ORDER BY oi.id ASC
    </select>

</mapper>
