<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lin.csln.mapper.PurchaseInItemMapper">


    <select id="listPurchaseInItem" resultType="com.lin.csln.dto.purchase.in.PurchaseInItemRespDTO">
        SELECT pi.sku_id     AS skuId,
               p.product_no  AS productNo,
               p.name        AS productName,
               poi.qty       AS purchaseQty,
               pi.qty        AS qty,
               pi.sku_spec_snapshot AS skuSpecSnapshot
        FROM purchase_in_item pi
                 LEFT JOIN product_sku ps ON pi.sku_id = ps.id
                 LEFT JOIN product_v2 p ON ps.product_v2_id = p.id
                 LEFT JOIN purchase_order_item poi ON poi.purchase_id = #{purchaseId}
            AND poi.sku_id = pi.sku_id
        WHERE pi.in_id = #{inId}
    </select>
</mapper>
